{% load bootstrap %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Перевод средств</title>

    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">


  </head>
  <body>
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <form action="." method="post" role="form" >{% csrf_token %}
                    {{ form|bootstrap }}
                    <button type="submit" class="btn btn-primary">
                        Перевести средства
                    </button>
              </form>
          </div>
      </div>
      <div class="row">
          <table class="table">
              <thead>
                <tr>
                    <th>Имя</th>
                    <th>ИНН</th>
                    <th>Остаток на счету</th>
                </tr>
              </thead>
              <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.vatin }}</td>
                    <td>{{ user.account }}</td>
                </tr>
                {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
  </body>
</html>